body h1,
p {
  margin: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  background-color: var(--gray-light-1);
  height: 900px;
}

.logo-img {
  height: auto;
}

.login-center {
  width: 33.33%;
}

.login-logo-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-logo p{
    color: rgb(132, 133, 135);
}

.logo-img{
    width: 20%;
}

.login-logo h1{
    width: 80%;
}

.login-field{
    display: flex;
    justify-content: center;
}

.login-field-container{
    margin-top: 40px;
    width: 80%;
}

.login-feild-text{
    border-bottom: rgb(155, 154, 154) solid 1px;
    padding-bottom: 2px;
}

.login-feild-text p{
    color: rgb(9, 128, 239);
    border-bottom: rgb(9, 128, 239) solid 2px;
    width: fit-content;
}

.input-fields{
    padding: 5px;
    margin-top: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    border: rgb(155, 154, 154) solid 1px;
    gap: 2px;
}

.input-fields p i{
    font-size: 20px;
    color: rgb(9, 128, 239);
}

.input-fields input{
    width: 90%;
    border: none;
    outline: none;
}

.forgot-password-txt{
    margin-top: 20px;
    color: rgb(9, 128, 239);
}

.sign-in-btn{
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(9, 128, 239);
    color: white;
    border: none;
    border-radius: 5px;
}